.collection {
  padding: 250px 0 208px;
  background-color: var(--color-light);
  &__first-section {
    padding-bottom: 203px;
  }
  &__second-section {
    padding-bottom: 240px;
  }
  &__descr {
    line-height: 32px;
  }
}
