.collection {
  padding: 210px 0 208px;
  background-color: var(--color-light);
  &__first-section {
    padding-bottom: 203px;

    @include tablet {
      padding-bottom: 100px;
    }
  }
  &__second-section {
    padding-bottom: 195px;

    @include tablet {
      padding-bottom: 100px;
    }
  }
  &__descr {
    line-height: 32px;
  }

  @include tablet {
    padding: 175px 0 125px;
  }
  @include mobile {
    padding: 75px 0 90px;
  }
}
