.footer {
  background-color: var(--color-accent);
  padding: 50px 0 48px;
  &__wrapper {
    display: flex;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }
  &__logo {
    @include tablet {
      display: inline-block;
      margin-bottom: 30px;
    }
  }
  &__navigation {
    @include flex-v-center;

    margin-left: auto;
    margin-right: 93px;

    @include tablet {
      margin: 0 auto 30px;
    }
    @include small-tablet {
      flex-direction: column;
    }
  }
  &__item {
    &:not(:last-child) {
      margin-right: 50px;

      @include small-tablet {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
  &__link {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.07em;
    color: var(--color-black);
    transition: color 0.3s;
    &:hover {
      color: var(--color-boulder);
    }
  }
}
