.hero {
  position: relative;
  background-color: var(--color-light);
  &__decorate {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 9;
    width: 100%;
  }
  &__background {
    position: absolute;
    left: 48%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 8;
    width: 52%;
    background-color: var(--color-accent);

    @include mobile {
      left: 50%;
      width: 50%;
    }
  }
  &__wrapper {
    position: relative;
    z-index: 10;
    padding-top: 60px;
    @include image-set("../img/hero-img");
    background-position: right -90px bottom;
    background-repeat: no-repeat;
    background-size: contain;

    @include mobile {
      background-image: none;
    }
  }
  &__info {
    position: relative;
    z-index: 11;
    max-width: 530px;
    padding: 280px 0 395px;

    @include tablet {
      max-width: 70%;
      padding: 160px 0 315px;
    }
    @include small-tablet {
      padding: 150px 0 200px;
    }
    @include mobile {
      max-width: none;
      text-align: center;
      padding: 100px 0 150px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: var(--color-shaft);
    margin-bottom: 60px;

    @include small-tablet {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 30px;
    }
  }
}
