.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  word-wrap: break-word;
  &:hover {
    .product-item__name {
      color: var(--color-seagull);
    }
  }
  &__image {
    @include flex-all-center;

    height: 100%;
    font-size: 0;
    background-color: #f1f1f1;
    margin-bottom: 30px;

    @include tablet {
      display: block;
      text-align: end;
      width: 100%;
    }
    @include small-tablet {
      height: 200px;
      min-width: 50%;
      max-width: 50%;
      margin-bottom: 0;
      margin-right: 20px;
    }
    @include mobile {
      min-width: none;
      max-width: none;
      width: 75%;
      margin: 0 auto 15px;
    }
  }
  &__img {
    @include tablet {
      width: 100%;
    }
    @include small-tablet {
      height: 100%;
      object-fit: contain;
    }
  }

  &__name {
    display: block;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--color-boulder);
    transition: color 0.3s;
    margin-bottom: 17px;

    @include mobile {
      text-align: center;
    }
  }
  &__price {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: var(--color-abbey);

    @include mobile {
      text-align: center;
    }
  }

  @include small-tablet {
    flex-direction: row;
    align-items: center;
    justify-content: inherit;
    width: 100%;
  }
  @include mobile {
    flex-direction: column;
  }
}
