<section class="collection">
  <div class="collection__first-section winter-section">
    <span class="winter-section__decorate">зима</span>
    <div class="container">
      <div class="winter-section__wrapper">
        <div class="winter-section__image">
          <picture>
            <source srcset="img/collection-1.avif" type="image/avif" />
            <source srcset="img/collection-1.webp" type="image/webp" />
            <img
              class="winter-section__img"
              loading="lazy"
              src="img/collection-1.png"
              width="276"
              height="501"
              alt="Зимний lookbook"
            />
          </picture>
        </div>
        <div class="winter-section__info">
          <h2 class="section-title winter-section__title">Зимний lookbook</h2>
          <p class="descr winter-section__descr collection__descr">
            Зимняя коллекция от лучших брендов
          </p>
          <a class="btn-reset btn winter-section__btn" href="#">СМОТРЕТЬ</a>
        </div>
      </div>
    </div>
  </div>
  <div class="collection__second-section casual-section">
    <div class="container">
      <div class="casual-section__wrapper">
        <div class="casual-section__info">
          <h2 class="section-title casual-section__title">
            Коллекция на каждый день
          </h2>
          <p class="descr casual-section__descr collection__descr">
            Полна легкости и простоты. Удобная, уютная одежда сделает каждый
            день чуточку приятнее, веселее и свободнее.
          </p>
        </div>
        <div class="casual-section__content">
          <div class="casual-section__main-image" id="casualClothesSlider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a class="casual-section__link" href="#">
                  <div class="casual-section__link-wrapper">
                    <picture>
                      <source
                        srcset="img/collection-2.avif"
                        type="image/avif"
                      />
                      <source
                        srcset="img/collection-2.webp"
                        type="image/webp"
                      />
                      <img
                        class="casual-section__img"
                        loading="lazy"
                        src="img/collection-2.png"
                        width="325"
                        height="632"
                        alt="Коллекция на каждый день"
                      />
                    </picture>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="casual-section__link" href="#">
                  <div class="casual-section__link-wrapper">
                    <picture>
                      <source
                        srcset="img/collection-2.avif"
                        type="image/avif"
                      />
                      <source
                        srcset="img/collection-2.webp"
                        type="image/webp"
                      />
                      <img
                        class="casual-section__img"
                        loading="lazy"
                        src="img/collection-2.png"
                        width="325"
                        height="632"
                        alt="Коллекция на каждый день"
                      />
                    </picture>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="casual-section__link" href="#">
                  <div class="casual-section__link-wrapper">
                    <picture>
                      <source
                        srcset="img/collection-2.avif"
                        type="image/avif"
                      />
                      <source
                        srcset="img/collection-2.webp"
                        type="image/webp"
                      />
                      <img
                        class="casual-section__img"
                        loading="lazy"
                        src="img/collection-2.png"
                        width="325"
                        height="632"
                        alt="Коллекция на каждый день"
                      />
                    </picture>
                  </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="casual-section__link" href="#">
                  <div class="casual-section__link-wrapper">
                    <picture>
                      <source
                        srcset="img/collection-2.avif"
                        type="image/avif"
                      />
                      <source
                        srcset="img/collection-2.webp"
                        type="image/webp"
                      />
                      <img
                        class="casual-section__img"
                        loading="lazy"
                        src="img/collection-2.png"
                        width="325"
                        height="632"
                        alt="Коллекция на каждый день"
                      />
                    </picture>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="casual-section__small-images" id="casualClothesThumbs">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="casual-section__pag-item">
                  <div class="casual-section__pag-wrapper">
                    <div class="casual-section__pag-image">
                      <picture>
                        <source
                          srcset="img/collection-pagination-1.avif"
                          type="image/avif"
                        />
                        <source
                          srcset="img/collection-pagination-1.webp"
                          type="image/webp"
                        />
                        <img
                          class="casual-section__pag-img"
                          loading="lazy"
                          src="img/collection-pagination-1.png"
                          width="94"
                          height="152"
                          alt=""
                        />
                      </picture>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="casual-section__pag-item">
                  <div class="casual-section__pag-wrapper">
                    <div class="casual-section__pag-image">
                      <picture>
                        <source
                          srcset="img/collection-pagination-2.avif"
                          type="image/avif"
                        />
                        <source
                          srcset="img/collection-pagination-2.webp"
                          type="image/webp"
                        />
                        <img
                          class="casual-section__pag-img"
                          loading="lazy"
                          src="img/collection-pagination-2.png"
                          width="105"
                          height="142"
                          alt=""
                        />
                      </picture>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="casual-section__pag-item">
                  <div class="casual-section__pag-wrapper">
                    <div class="casual-section__pag-image">
                      <picture>
                        <source
                          srcset="img/collection-pagination-3.avif"
                          type="image/avif"
                        />
                        <source
                          srcset="img/collection-pagination-3.webp"
                          type="image/webp"
                        />
                        <img
                          class="casual-section__pag-img"
                          loading="lazy"
                          src="img/collection-pagination-3.png"
                          width="92"
                          height="146"
                          alt=""
                        />
                      </picture>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="casual-section__pag-item">
                  <div class="casual-section__pag-wrapper">
                    <div class="casual-section__pag-image">
                      <picture>
                        <source
                          srcset="img/collection-pagination-2.avif"
                          type="image/avif"
                        />
                        <source
                          srcset="img/collection-pagination-2.webp"
                          type="image/webp"
                        />
                        <img
                          class="casual-section__pag-img"
                          loading="lazy"
                          src="img/collection-pagination-2.png"
                          width="105"
                          height="142"
                          alt=""
                        />
                      </picture>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="casual-section__pagination"></div>
          </div>
        </div>
        <span class="casual-section__decorate">D</span>
        <div class="casual-section__line"></div>
      </div>
    </div>
  </div>
  <div class="collection__third-section strict-section">
    <div class="container">
      <div class="strict-section__wrapper">
        <div class="strict-section__image">
          <picture>
            <source srcset="img/collection-3.avif" type="image/avif" />
            <source srcset="img/collection-3.webp" type="image/webp" />
            <img
              class="strict-section__img"
              loading="lazy"
              src="img/collection-3.png"
              width="394"
              height="545"
              alt="Строгая
              коллекция"
            />
          </picture>
          <div class="strict-section__line"></div>
        </div>
        <div class="strict-section__info">
          <h2 class="section-title strict-section__title">Строгая коллекция</h2>
          <p class="descr strict-section__descr collection__descr">
            Эллегантные платья, классические брючные костюмы добавят вам и вашей
            фигуре больше шарма
          </p>
          <a class="btn-reset btn strict-section__btn" href="#">СМОТРЕТЬ</a>
        </div>
      </div>
    </div>
  </div>
</section>
