<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="logo" href="index.html">
        <img
          class="logo__img"
          src="img/logo.svg"
          alt="Dolly Logotype"
          width="106"
          height="41"
        />
      </a>
      <nav class="nav" data-menu>
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#" data-menu-item>ОДЕЖДА</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" data-menu-item>ОБУВЬ</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" data-menu-item>АКСЕССУАРЫ</a>
          </li>
        </ul>
      </nav>
      <ul class="list-reset header__btns-list">
        <li class="header__btns-item">
          <a
            class="header__btns-link"
            href="#"
            aria-label="Go to favourites page"
          >
            <img
              class="header__btns-img"
              src="img/favourites.svg"
              alt="Favourites Icon"
              width="22"
              height="19"
            />
          </a>
        </li>
        <li class="header__btns-item">
          <a class="header__btns-link" href="#" aria-label="Go to profile page">
            <img
              class="header__btns-img"
              src="img/profile.svg"
              alt="Profile Icon"
              width="20"
              height="20"
            />
          </a>
        </li>
        <li class="header__btns-item">
          <button
            class="btn-reset header__btns-link"
            aria-label="Open shopping cart"
            type="button"
          >
            <img
              class="header__btns-img"
              src="img/cart.svg"
              alt="Shopping cart Icon"
              width="16"
              height="20"
            />
          </button>
        </li>
      </ul>
      <button
        class="btn-reset burger"
        aria-label="Кнопка мобильного меню"
        data-burger
      >
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
