<section class="hero">
  <img
    class="hero__decorate"
    src="img/hero-decorate.svg"
    alt="Надпись Dolly"
    height="412"
  />
  <div class="hero__background"></div>
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__info">
        <h1 class="hero__title">Модная женская одежда</h1>
        <a class="btn btn--dark hero__btn" href="#">СМОТРЕТЬ</a>
        <img
          class="hero__arrow"
          src="img/arrow-down.svg"
          alt=""
          width="19"
          height="120"
        />
      </div>
      <div class="hero__image">
        <picture>
          <source srcset="img/hero-img.avif" type="image/avif" />
          <source srcset="img/hero-img.webp" type="image/webp" />
          <img
            class="hero__img"
            loading="lazy"
            src="img/hero-img.png"
            width="968"
            height="967"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
