<section class="popular-goods">
  <div class="container">
    <h2 class="section-title popular-goods__title">Популярные товары</h2>
    <div class="popular-goods__list">
      <div class="popular-goods__list-wrapper" id="popularList">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="popular-goods__card">
              <div class="popular-goods__image">
                <picture>
                  <source srcset="img/popular-goods-1.avif" type="image/avif" />
                  <source srcset="img/popular-goods-1.webp" type="image/webp" />
                  <img
                    class="popular-goods__img"
                    loading="lazy"
                    src="img/popular-goods-1.png"
                    width="212"
                    height="217"
                    alt="Рюкзак кантри"
                  />
                </picture>
              </div>
              <h3 class="popular-goods__name">Рюкзак кантри</h3>
              <span class="popular-goods__price">2 999 ₽</span>
              <div class="popular-goods__footer">
                <a class="btn btn--dark popular-goods__btn" href="#">КУПИТЬ</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="popular-goods__card">
              <div class="popular-goods__image">
                <picture>
                  <source srcset="img/popular-goods-2.avif" type="image/avif" />
                  <source srcset="img/popular-goods-2.webp" type="image/webp" />
                  <img
                    class="popular-goods__img"
                    loading="lazy"
                    src="img/popular-goods-2.png"
                    width="198"
                    height="124"
                    alt="Туфли лакированные"
                  />
                </picture>
              </div>
              <h3 class="popular-goods__name">Туфли лакированные</h3>
              <span class="popular-goods__price">4 999 ₽</span>
              <div class="popular-goods__footer">
                <a class="btn btn--dark popular-goods__btn" href="#">КУПИТЬ</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="popular-goods__card">
              <div class="popular-goods__image">
                <picture>
                  <source srcset="img/popular-goods-3.avif" type="image/avif" />
                  <source srcset="img/popular-goods-3.webp" type="image/webp" />
                  <img
                    class="popular-goods__img"
                    loading="lazy"
                    src="img/popular-goods-3.png"
                    width="195"
                    height="111"
                    alt="Косметичка"
                  />
                </picture>
              </div>
              <h3 class="popular-goods__name">Косметичка</h3>
              <span class="popular-goods__price">1 999 ₽</span>
              <div class="popular-goods__footer">
                <a class="btn btn--dark popular-goods__btn" href="#">КУПИТЬ</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="popular-goods__card">
              <div class="popular-goods__image">
                <picture>
                  <source srcset="img/popular-goods-4.avif" type="image/avif" />
                  <source srcset="img/popular-goods-4.webp" type="image/webp" />
                  <img
                    class="popular-goods__img"
                    loading="lazy"
                    src="img/popular-goods-4.png"
                    width="159"
                    height="88"
                    alt="Часы наручные"
                  />
                </picture>
              </div>
              <h3 class="popular-goods__name">Часы наручные</h3>
              <span class="popular-goods__price">5 000 ₽</span>
              <div class="popular-goods__footer">
                <a class="btn btn--dark popular-goods__btn" href="#">КУПИТЬ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="btn-reset popular-goods__list-btn popular-goods__list-prev"
        type="button"
        aria-label="Previous Slide Button"
      ></button>
      <button
        class="btn-reset popular-goods__list-btn popular-goods__list-next"
        type="button"
        aria-label="Next Slide Button"
      ></button>
    </div>
    <div class="popular-goods__link-wrapper">
      <a class="btn popular-goods__link" href="#">СМОТРЕТЬ ЕЩЁ</a>
    </div>
  </div>
</section>
